{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-module-resolver", {
      "root": [".", "./src"],
      "alias": {
        "pages": "./src/pages"
      }
    }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "loadable-components/babel",
    "babel-plugin-dynamic-import-node",
    "transform-promise-to-bluebird"
  ],
  "env": {
    "production": {
      "plugins": [
        ["babel-plugin-module-resolver", {
          "root": [".", "./dist"],
          "alias": {
            "lib": "./distLib",
            "pages": "./dist/pages"
          }
        }]
      ]
    }
  }
}